/* section menu */
#container-menu{
    background: #161515;
    color:#e5dbdb;
}

#texto{
    padding-top: 40px;
    width: 70%;
    margin: auto;
}

#texto h2{
    padding-bottom:25px ;
    font-weight: bold;
    font-size: 45px;
    color: #ddcece;
    padding-top: 45px;
    border-bottom: solid 1px #f3f3f3;
}

#texto p{
    font-size: 19px;
    padding-top: 65px;
    padding-bottom: 100px;
}




/* Galeria de imagenes  */

article{
    display: flex;
    text-align: center;
    justify-content: center;
}

section{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.proyectos-container {
    position: relative;
    height: 200px;
    width: 400px;
    margin: 15px;
}

.proyectos-container .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.proyectos-container .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0px 5px 10px #000;
}

.proyectos-container .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proyectos-container .front h3{
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    background: #00000066;
}

.proyectos-container .back{
    transform: perspective(600px) rotateY(180deg);
    background: #4FC3DC;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.proyectos-container .back .link{
    border-top: solid 1px #f3f3f3;
    line-height: 50px;
    height: 50px;
}

.proyectos-container .back .link a{
    color: #f3f3f3;

}

.proyectos-container .back  h3{
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 20px;
}

.proyectos-container .back p{
    letter-spacing: 1px;
}

.proyectos-container:hover .front{
    transform: perspective(600px) rotateY(180deg);
}

.proyectos-container:hover .back{
    transform: perspective(600px) rotateY(360deg);
}

