html{line-height:1.15;-webkit-text-size-adjust:100%;}body{margin:0;}main{display:block;}
h1{
    margin:0.67em 0;
}hr{box-sizing:content-box;height:0;overflow:visible;}pre{font-family:monospace,monospace;font-size:1em;}a{background-color:transparent;}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted;}b,strong{font-weight:bolder;}code,kbd,samp{font-family:monospace,monospace;font-size:1em;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sub{bottom:-0.25em;}sup{top:-0.5em;}img{border-style:none;}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}button,input{overflow:visible;}button,select{text-transform:none;}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0;}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText;}fieldset{padding:0.35em 0.75em 0.625em;}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal;}progress{vertical-align:baseline;}textarea{overflow:auto;}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0;}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto;}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px;}[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit;}details{display:block;}summary{display:list-item;}template{display:none;}[hidden]{display:none;}

* {
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --color-bar:rgb(7 14 24);
    --texto-bar:grey;
    --link-bar:white;
    --titulo-bar:white;

    --color-primario:rgb(206, 206, 206);
    --color-secundario: rgb(223, 223, 223);

    --texto-oscuro:rgb(12, 12, 12);
    --texto-claro:whitesmoke;
    --texto-medio:rgb(32, 32, 32);
}

html {
    scroll-behavior: smooth;
}
/*
body {
    display: grid;
    grid-template-columns: 20% 75%;
}
*/
.inicio,
.mi-persona,
.contacto,
.footer  {
    padding: 40px;
}

.navbar {
    background-color: var(--color-bar);
    position:sticky;
    top:0;
    height: 100vh;
    padding-top: 20px;
    width: 20%;
    position: fixed;
}

.navbar__logo {
    font-size: 40px;
    color: var(--titulo-bar);
    position: relative;
    top:42px;
    left: 30px;
}

.navbar__title {
    color: var(--titulo-bar);
    font-size: 25px;
    text-align: right;
    margin: 0;
    padding-right: 30px;
}

.navbar__subtitle {
    color: var(--texto-bar);
    font-size: 15px;
    text-align: right;
    margin: 0;
    padding-right: 30px;
}

.navbar__list {
    margin-top: 50px;
    list-style: none;
    padding: 0;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.500);
}

.navbar__item {
    height: 80px;
    font-size: 18px;
}

.navbar__link {
    color: var(--texto-bar);
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

.navbar__link:hover {
    background-color: rgb(20, 20, 20);
    color: var(--link-bar);
}

.icons {
    margin-top: -15px;
    padding: 25px 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.500);
    text-align: center;
}

.icons__link {
    text-decoration: none;
}

.icons__icons {
    margin: 5px;
    font-size: 25px;
    color: var(--texto-bar);
}

.icons__icons:hover {
    color: var(--link-bar);
}

.puntos {
    color: var(--texto-bar);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -0.5em;
    font-size: 33px;
}

@media screen and (max-width:870px) {
    body {
        display: grid;
        grid-template-columns: 1fr;
    }

    .navbar {
        height: 115px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 50px;
        box-shadow: 0 0 8px black;
        z-index: 100;
    }

    .navbar__list {
        grid-column: 1/3;
        grid-row: 1;
    }

    .navbar__title,
    .navbar__subtitle {
        text-align: left;
        padding: 0 25px;
        margin-left: 15px;
        color: var(--texto-bar);
    }

    .navbar__logo {
        grid-column: 1/2;
        grid-row: 2;
        font-size: 30px;
        left:180px;
        top: 9px;
        width: 30px;
        color: var(--texto-bar);
    }

    .navbar__title {
        grid-column: 1/2;
        grid-row: 2;
        margin-left: 13px;
        font-size: 20px;
        padding-top: 4px;
        border-radius: 0 0 50px 50px;
        position:relative;
        bottom: 30px;
    }

    .navbar__subtitle {
        grid-column: 1/2;
        grid-row: 2;
        margin-top: 26px;
        font-size: 12px;
        position:relative;
        bottom: 57px;
        left: -0.5px;
    }

    .navbar__list {
        margin: 0px;
        list-style: none;
        padding: 0;
        width: 100%;
        box-shadow: 0 0 0;
        display: flex;
        align-items: center;
    }
    
    .separa {
        padding-right: 5px;
    }

    .navbar__item {
        font-size: 12px;
        height: 80%;
        width: 100%;
    }
    
    .navbar__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        padding: 0 10px;
        box-shadow: 0 0 1px 1px rgb(116, 116, 116);
    }

    .icons {
        border-radius: 0 0 50px 50px;
        margin: 7px 30px 5px 0;
        text-align: right;
        box-shadow: 0 0 0;

        margin-top: -15px;
        padding: 25px 0;
    
    }
    
    .puntos {
        font-size: 0px;
    }

    .inicio,
    .portafolio,
    .mi-persona,
    .contacto,
    .footer {
        width: 100%;
    }
}

.inicio {
    background-color: #0c192c;
    min-height:100vh;
    color: var(--texto-claro);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inicio__title {
    margin: 0;
    text-shadow: 0 0 5px black;
}

.inicio__subtitle {
    margin-top: 0;
    margin-bottom: 50px;
    text-shadow: 0 0 5px black;
}

.inicio__button {
    background-color: whitesmoke;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
    color: var(--texto-oscuro);
    box-shadow: 0 0 5px black;
    text-shadow: 0 0 1px black;
}

.inicio__button:hover {
    background-color: var(--color-bar);
    color: var(--texto-claro);
}

.inicio__arrow {
    margin-top: 3px;
    text-shadow: 0 0 5px black;
}

.portafolio__title,
.mi-persona__title,
.contacto__title {
    font-size: 35px;
    color: #fff;
    text-align: center;
    margin-top: 0px;
    text-shadow: 0 0 2px black;
}

.portafolio {
    background-color: var(--color-bar);
}

.flex-zone {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    justify-content: center;
    grid-gap: 30px;
    margin-bottom: 40px;
}

.portafolio__subtitle {
    color: var(--texto-medio); 
    font-weight: 500;   
}

.container-img {
    text-align: center;
    background-color: rgb(241, 241, 241);
    width: 420px;
    height: 305px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.800);
    text-shadow: 0 0 1px black;
    overflow: hidden;
    border-radius: 0 0 15px 15px;
}

.portafolio__img {
    border: 2px solid rgb(255, 255, 255, 500);
    width: 100%;
    transition-duration: 0.5s;
}

.portafolio__img:hover {
    transform:translateY(14px);
    box-shadow: 0 0 10px 5px black;
    transition-duration: 0.5s;
}

.mi-persona {
    background-color: var(--color-bar);
    text-align: center;
    color: var(--texto-bar);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

.mi-persona__title {
    margin-bottom: 50px;
}


.mi-persona__img__container {
    background-image: url(https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/132565375_427545651712922_7523756752646737716_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=r3vcYlmpHH4AX_l_byK&_nc_ht=scontent-bog1-1.xx&oh=bd739136f63eb79527f4180c6469f68c&oe=609A46F3);
    background-size:cover;
    background-position: center;
    width: 80%;
    height: 500px;
    overflow: hidden;
}

@media screen and (max-width:900px) {
    .mi-persona__img__container {
        width: 90%;
    }

    .mi-persona__text {
        min-width: 400px;
    }
}

.mi-persona__text {
    color: rgba(44, 44, 44, 0.658);
    width: 40vw;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.500);
    margin-top: 50px;
}

.contacto {
    background-color: #0c192c;
    min-height: 100vh;
    text-align: center;
}


.contacto .contacto__title{
    position: absolute;
    left: 10%;
}

@media screen and (max-width:1020px) {

    .contacto {
        height: 610px;
    }
    
    .contacto__text {
        width: 400px;
    }

    .contacto__name {
        width: 400px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }
    
    .contacto__email {
        width: 400px;
    }
    
    .contacto__mensaje {
        width: 400px;
    }
    
    .contacto__enviar {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid rgba(128, 128, 128, 0.500);
        color: var(--texto-claro);
        background-color: rgba(65, 119, 102, 0.76);
    }
    
}

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background: #131438;
  }

  ::-webkit-scrollbar-thumb {
    background: #3e3e74;
    border-radius: 5px;
  }
